<div class="modal-header">
    <h4 class="modal-title pull-left">Register your profile...</h4>
    <button type="button" class="btn-close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    </button>
</div>
<div class="modal-body">
    <ul>
        <li>... set the filters and find your match ! </li>
        
        <li>Favourite as many as you want and see who favourited you</li>
        
        <li>Message anyone you like inside a private real time messaging system</li>
        
        <li>Get notified when someone is online and when you receive a message </li>
        
        <li>Drag and drop your photos to upload them (All photos must be approved by the moderation) </li>
    </ul>
</div>
<div class="modal-footer">
Dating App
</div>